@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$name: jinie;

:root {
  --#{$name}-primary: #000000;
  --#{$name}-bg: #ffffff;
}

// Custom theme
// :root {
//   --jinie-primary: #000000 !important;
//   --jinie-bg: #ffffff !important;
// }

##{$name} {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--#{$name}-bg);
  z-index: 10000000;
  display: flex;
  flex-direction: row;
  display: none;
  user-select: none;
  overflow: hidden;
  font-family: Roboto;
  font-size: 18px;
}
##{$name} input[type='number']::-webkit-inner-spin-button,
##{$name} input[type='number']::-webkit-outer-spin-button {
  appearance: none;
}
.#{$name}-editable-wrapper {
  width: 100vw;
  padding: 2rem;
  padding-top: 4rem;
  margin: auto;
}
.#{$name}-editable {
  display: flex;
  width: 100%;
  background-color: var(--#{$name}-bg);
}
.#{$name}-editable > img {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - 6rem);
  margin: auto;
}
.#{$name}-rotate {
  width: 100%;
  margin-right: 1rem;

  input {
    appearance: none;
    background: var(--#{$name}-primary);
    outline: none;
    opacity: 0.1;
    cursor: pointer;
  }
  input::-webkit-slider-thumb {
    appearance: none;
    width: 1rem;
    height: 1rem;
    background: var(--#{$name}-bg);
  }
}
.#{$name}-buttons {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--#{$name}-bg);
  border-radius: 1rem 1rem 0 0;
  display: flex;
  cursor: pointer;
  padding: 0.25rem;

  & > div {
    padding: 0.5rem 1rem;
    opacity: 0.7;
    display: flex;
    align-items: center;

    & > svg {
      width: 2rem;
      height: 2rem;
    }
  }

  & > div:first-child {
    padding-right: 0.25rem;
  }
  & > div:hover {
    opacity: 1;
  }
}

/* Cropper */
.cropper-modal {
  background-color: var(--#{$name}-bg) !important;
  opacity: 0.8 !important;
}
.cropper-dashed {
  border-width: 2px !important;
  border-style: dashed;
  border-color: var(--#{$name}-bg);
  opacity: 1 !important;
}
.cropper-line {
  background-color: var(--#{$name}-primary);
  opacity: 0.25;
}
.cropper-line.line-e,
.cropper-line.line-w {
  width: 2px !important;
}
.cropper-line.line-n,
.cropper-line.line-s {
  height: 2px !important;
}
.cropper-point.point-se,
.cropper-point {
  background-color: var(--#{$name}-primary);
  height: 8px;
  opacity: 0.7;
  width: 8px;
}
.cropper-center {
  opacity: 0.7;
}
.cropper-center::before {
  left: -9px;
  width: 17px;
  background-color: var(--#{$name}-primary);
  top: -1px;
  height: 2px;
}
.cropper-center::after {
  top: -8px;
  height: 16px;
  background-color: var(--#{$name}-primary);
  left: -1px;
  width: 2px;
}
.cropper-dashed.dashed-v {
  border-top: none !important;
  border-bottom: none !important;
}
.cropper-dashed.dashed-h {
  border-left: none !important;
  border-right: none !important;
}

@media (max-width: 1024px) {
  ##{$name} {
    flex-direction: column;
    overflow-y: auto;
  }
  .#{$name}-editable-wrapper {
    width: 100%;
    padding: 2rem;
    padding-top: 4rem;
  }
  .#{$name}-controls {
    width: 100%;
  }
  .#{$name}-controls {
    display: flex;
    flex-direction: column-reverse;
  }
  .cropper-center::before {
    top: 0px;
    height: 2px;
  }
  .cropper-center::after {
    left: 0px;
    width: 2px;
  }
  .cropper-point.point-se,
  .cropper-point {
    height: 8px;
    width: 8px;
  }
}
